.album-list {
  list-style-type: none;
  margin: 2rem -40px;
  display: flex;
  flex-flow: row wrap;

  & > li {
    width: 15%;
    margin: 0 1rem;
    margin-bottom: 2rem;

    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;

    overflow: hidden;

    &:hover img {
      transform: scale(1.05);
    }
  }

  & > .completed {
    opacity: 0.3;
    &:hover img {
      transform: scale(1);
    }
  }
}
