.todo-list {
  width: 100%;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  .todo-list__title {
    font-size: 3rem;
    margin: 1rem 0;
  }

  .todo-list__item {
    width: 100%;

    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;

    list-style-type: none;

    & > .item {
      width: 100%;

      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      border: 1px solid #ccc;
      border-radius: 0.25rem;
      padding: 1rem;
      margin: 0.5rem 0;

      font-weight: bold;

      & > .content {
        width: 80%;

        overflow: hidden;
        text-overflow: ellipsis;
      }

      & > .icons {
        margin: 0 -0.5rem;
        .icon {
          font-size: 1.2rem;

          margin: 0 0.5rem;
          cursor: pointer;
        }
        .icon:nth-child(4) {
          display: none;
        }

        .icon:hover {
          color: coral;
        }
      }
    }

    & > .done {
      & > .content {
        opacity: 0.2;
      }
      & > .icons {
        .icon {
          cursor: default;
        }

        .icon:nth-child(4) {
          display: inline-block;
          cursor: pointer;
        }
        .icon:not(:nth-child(4)) {
          display: none;
        }
      }
    }
  }

  .todo-form-update {
    display: none;
  }
}

.updating {
  .todo-form,
  .todo-list__item {
    display: none;
  }

  .todo-form-update {
    display: flex;
  }
}
